
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap");

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
}
h1 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  line-height: 1.3;
  font-size: 3rem;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  line-height: 1.3;
}

.nav-link {
  color: #f8f6f6 !important;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
}

.nav-link:hover {
  color: #9e9d9d !important;
}

footer ul li a i {
  color: #888;
  transition: color 0.3s ease;
}

footer ul li a:hover i {
  color: #fff;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.hero-image {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: "Nunito Sans", sans-serif;
}

hr {
  margin: 0 auto 20 auto;
  border: 2px solid #1705b5;
  opacity: 1;
  border: none;
  height: 4px;
  background-color: #1705b5;
}

.card {
  transition: all 0.3s ease;
}
.card:hover {
  background-color: #efefef;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.banner-img {
  width: 100%;
  height: 300px;
  object-fit: center;
  display: block;
}
main div h2 {
  font-size: xx-large;
  font-weight: bold;
}
.banner-content hr {
  width: 33%;
  margin: 0 auto 20px auto;
  border: none;
  height: 4px;
  background-color: #1705b5;
  opacity: 1;
}
#mentionsAccordion {
  max-width: 1400px;
  margin: 0 auto;
}
.nav-link.active {
  font-weight: 700;
  text-decoration: underline;
}

.navbar .nav-link:hover {
  text-decoration: underline;
}

footer .nav-link:hover {
  font-weight: 700;
}
.banner-img {
  height: 300px;
  object-fit: cover;
}